/*
*
* ==========================================
* CUSTOM UTIL CLASSES
* ==========================================
*
*/
/*==========================
        3.NAVBAR CUSTOM
============================*/

.custom-nav {
    background-color: transparent;
    padding: 20px 0px;
    width: 100%;
    border-radius: 0px;
    z-index: 999;
    margin-bottom: 0px;
    transition: all 0.5s ease-in-out;
}

.custom-nav .navbar-nav li a {
    color: #fff !important;
    font-size: 15px;
    background-color: transparent !important;
    margin: 0 7px;
    letter-spacing: 0.05em;
    line-height: 24px;
    transition: all 0.5s;
    font-weight: 500;
}

.custom-nav .navbar-brand .logo-light,
.custom-nav .navbar-brand .logo-dark {
    height: 27px;
}

.logo .logo-light {
    display: inline-block;
}

.stickyadd .logo .logo-dark {
    display: inline-block;
}

.stickyadd .logo .logo-light {
    display: none;
}

.logo .logo-dark {
    display: none;
}

.custom-nav .navbar-brand {
    color: #fff !important;
    text-transform: uppercase;
}

.custom-nav .navbar-toggler {
    color: #fff;
    font-size: 35px;
    padding: 0px;
}

.custom-nav.stickyadd {
    background-color: #fff !important;
    box-shadow: 0 1px 8px 3px rgba(0, 0, 0, 0.050980392156862744);
    padding: 15px 0px;
}

.custom-nav.stickyadd .navbar-nav li a {
    color: #000 !important;
}




/*
*
* ==========================================
* HEADER
* ==========================================
*

.imag{
    background: url(../img/slider.jpg) no-repeat 50% 50%;
}*/
.heading{
    font-family: 'Caveat', cursive;
    font-size: 50px;
}
.header{
    height: 20px;
}

.header-main{
    list-style-type: none;
    font-size: 15px;
    display: inline-flex;

}

.head{
    
      width: 100%;
      height: 125vh;
      
      background-size: cover;
}
.logo {

      height: 100px;
      width: 100px;

}
@media only screen and (max-width: 425px) {
        .logo{
            height: 80px;
            width: 80px;
        }

}
/*===========================
        4.HOME
=============================*/

.header-bg-img {
    background-image: url(../img/banner-img.jpg);
    position: relative;
    background-size: cover;
    background-position: center center;
    opacity: 10;
}

.header-content {
    max-width: 800px;
}

.header-table-center {
    display: table-cell;
    vertical-align: middle;
}

.header-table {
    display: table;
    width: 100%;
    height: 100%;
}

.header-name {
    font-size: 54px;
}

.header-desc {
    max-width: 500px;
    line-height: 1.8;
    color: rgba(255, 255, 255, 0.75) !important;
}

.scroll_down {
    position: absolute;
    bottom: 5vh;
    width: 100%;
    text-align: center;
    color: #fff;
    font-size: 13px;
    z-index: 8;
}

.scroll_down i {
    position: relative;
    -webkit-animation: bounce 2s infinite; 
    animation: bounce 2s infinite; 
    height: 44px;
    width: 28px;
    line-height: 54px;
    border-radius: 30px;
    border: 2px solid #ffffff;
    display: inline-block;
    color: #fff;
    font-size: 10px;
}

.scroll_down i:after {
    content: "";
    position: absolute;
    top: 22px;
    left: 11px;
    border-radius: 2px;
    z-index: -1;
    bottom: 0px;
    transition: all .2s;
    height: 10px;
    width: 3px;
    background: #fff;
}
.btn {
    padding: 15px 32px;
    font-size: 14px;
    font-weight: 700;
    transition: all 0.5s;
    letter-spacing: 0.6px;
    color: #fff;
    box-shadow: none !important;
    text-transform: uppercase;
    outline: none !important;
    margin: 20px;
}

.btn-round {
    border-radius: 30px;
}

.btn-outline-custom {
    border: 2px solid #f5f5f5;
}

.btn-outline-custom:hover {
    background-color: white;
    color: black;
}
.bg-overlay {
    background-color: rgba(0, 0, 0, 0.69);
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
}

.logo-name{
    width: 350px;
    height: 120px;
}

@media only screen and (max-width: 425px) {
  .logo-name {
    width: 150px;
    height: 50px;
  }
}

.section {
    padding-top: 80px;
    padding-bottom: 80px;
    position: relative;


}






.area{
    background: transparent;    
    width: 100%;
    height:100vh;
    
   
}

.circles{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.circles li{
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(255, 255, 255, 0.4);
    animation: animate 0s linear infinite;
    bottom: -150px;
    
}

.circles li:nth-child(1){
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 12s;
}


.circles li:nth-child(2){
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
}

.circles li:nth-child(3){
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
}

.circles li:nth-child(4){
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
}

.circles li:nth-child(5){
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
}

.circles li:nth-child(6){
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
}

.circles li:nth-child(7){
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 7s;
}

.circles li:nth-child(8){
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 45s;
}

.circles li:nth-child(9){
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 35s;
}

.circles li:nth-child(10){
    left: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 11s;
}



@keyframes animate {

    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }

    100%{
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }

}


.subtitle{
    font-family: 'Cedarville Cursive', cursive;
}












img{
  height:200px;
  width:100%;
}

.item{
  padding-left:5px;
  padding-right:5px;
}

.button-categories{
    padding: 12px 25px;
    font-size: 12px;
    font-weight: 700;
    transition: all 0.5s;
    letter-spacing: 0.6px;
    color: #FFCC00;
    box-shadow: none !important;
    text-transform: uppercase;
    outline: none !important;
    margin: 20px;
}
.button-outline-custom {
    border: 2px solid #FFCC00;
}

.button-outline-custom:hover {
    background-color: #FFCC00;
    color: black;
    text-decoration: none;
}
.item-card{
  transition:0.5s;
  cursor:pointer;
  width: 325px;
  height: 450px;
}
@media only screen and (max-width: 425px) {
    .item-card{
  align-items: center;
  margin-left: 5px;
}
}

.item-card-title{  
  font-size:15px;
  transition:1s;
  cursor:pointer;
}
.item-card-title i{  
  font-size:15px;
  transition:1s;
  cursor:pointer;
  color:#ffa710
}
.card-title i:hover{
  transform: scale(1.25) rotate(100deg); 
  color:#18d4ca;
  
}

.card{
    box-shadow: 2px 3px 5px rgba(0,0,0,0.3);
}
.card:hover{
  transform: scale(1.05);
  box-shadow: 10px 10px 15px rgba(0,0,0,0.3);
}
.card-text{
  height:70px;  
}

.card::before, .card::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform: scale3d(0, 0, 1);
  transition: transform .3s ease-out 0s;
  background: rgba(255, 255, 255, 0.1);
  content: '';
  pointer-events: none;
}
.card::before {
  transform-origin: left top;
}
.card::after {
  transform-origin: right bottom;
}
.card:hover::before, .card:hover::after, .card:focus::before, .card:focus::after {
  transform: scale3d(1, 1, 1);
}





 .subscription.bg-white {
     background: #FFCC00;
 }

 .bg-white {
     background-color:  #FFCC00!important
 }

 .subscription.bg-white .subscription-wrapper {
     background: #FFCC00;
 }

 .subscription-wrapper {
     border-radius: 0% 5% 10% 3%/10% 20% 0% 17%;
     -webkit-transform: perspective(1800px) rotateY(20deg) skewY(1deg) translateX(50px);
     transform: perspective(1800px) rotateY(20deg) skewY(1deg) translateX(50px);
     padding: 70px 50px;
     z-index: 1;
     width: 100%;
     background: linear-gradient(80deg, #0030cc 0%, #00a4db 100%);
     position: absolute;
     top: 100px
 }

 .subscription-wrapper {
     box-shadow: 12px 15px 39px 0px rgba(8, 18, 109, 0.1) !important
 }

 .subscription-content {
     -webkit-transform: skewY(-1deg);
     transform: skewY(-1deg)
 }

 h3,
 .h3 {
     font-size: 30px
 }

 .flex-fill {
     -ms-flex: 1 1 auto !important;
     flex: 1 1 auto !important
 }

 .subscription.bg-white .form-control {
     border: 1px solid #ebebeb !important
 }

 .subscription-wrapper .form-control {
     height: 60px;
     background: rgba(255, 255, 255, 0.1);
     border-radius: 45px
 }

 .subscription-wrapper .form-control:focus {
     background: rgba(255, 255, 255, 0.1);
     outline: 0;
     box-shadow: none
 }

 .btn:not(:disabled):not(.disabled) {
     cursor: pointer
 }

 .btn-primary {
     border: 0;
     color: #fff
 }

 .btn {
     font-size: 16px;
     font-family: "Poppins", sans-serif;
     text-transform: capitalize;
     padding: 18px 45px;
     border-radius: 45px;
     font-weight: 500;
     border: 1px solid;
     position: relative;
     z-index: 1;
     transition: .3s ease-in;
     overflow: hidden
 }

 .btn-primary:after {
     content: '';
     position: absolute;
     top: 0;
     left: 0;
     width: 102%;
     height: 100%;
     background: linear-gradient(45deg, #6e6e6e 0%, #525252 100%);
     z-index: -1;
     transition: ease 0.3s
 }


@media only screen and (max-width: 425px) {

        .subscription{
            display: none;
        }

}
 /*======================
        10.FOOTER
    }
========================*/

.footer {
    padding: 70px 0px;
    background-color: #242424 !important;
}

.footer .footer-alt p {
    font-size: 16px;
}

.footer .footer-alt ul li a {
    border-radius: 50%;
    transition: all 0.5s;
    background-color: rgba(241, 241, 241, 0.08);
    width: 42px;
    height: 42px;
    display: block;
    font-size: 18px;
    line-height: 42px;
    text-align: center;
}
